.navbar {
    height: 75px;
    overflow: hidden;
    background-color: bisque;
}

.nav-content {    display: flex;
    float: right;
    gap: 15px;
}

.nav-content div {
    height: 75px;
}

@media (max-width: 549px) {
    .nav-content {
        flex-direction: column;
    }

    .hamburger {
        display: block;
    };
}

@media (min-width: 550px) {
    .nav-content {
        flex-direction: row-reverse;
    }

    .hamburger {
        display: none;
    };
}