.style-emp {
    font-weight: 500;
}



/* List */
.hidden-content ul li {
    margin-bottom: 0px;
}

/* Spacing */
.font-domine2 {
    margin-bottom: 15px;
}

.entry-container {
    margin-bottom: 25px;
}

.font-domine3 {
    margin-bottom: 7.5px;
}

.font-inter3 {
    line-height: clamp(25px, 4vw, 32.5px);
}