/* FONTS */
/* Import fonts */
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Domine;
    src: url(../fonts/Domine-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Domine;
    src: url(../fonts/Domine-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

/* Inter */
.font-inter1 {
    font-family: 'Inter';
    font-weight: 400;
    text-transform: uppercase;

    font-size: 12px;
}

.font-inter2 {
    font-family: 'Inter';
    font-weight: 400;

    font-size: clamp(12px, 1.75vw, 14px);
} 

.font-inter3 {
    font-family: 'Inter';
    font-weight: 400;
    
    line-height: clamp(25px, 4vw, 40px);
    font-size: clamp(14px, 2vw, 16px);
}

.font-inter4 {
    font-family: 'Inter';
    font-weight: 400;
    
    font-size: clamp(16px, 2vw, 20px);
}

.font-inter5 {
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;

    font-size: clamp(16px, 2.5vw, 26px);
}

/* Domine */
.font-domine1 {
    font-family: 'Domine';
    font-weight: 400;
    color: black;

    font-size: clamp(12px, 1.75vw, 14px);
}

.font-domine2 {
    font-family: 'Domine';
    font-weight: 400;
    
    line-height: clamp(30px, 4vw, 40px);
    font-size: clamp(16px, 2vw, 20px);
}

.font-domine3 {
    font-family: 'Domine';
    font-weight: 700;


    font-size: clamp(25px, 4vw, 35px);
}

.font-domine4 {
    font-family: 'Domine';
    font-weight: 700;
    line-height: clamp(45px, 6vw, 60px);

    font-size: clamp(35px, 5vw, 55px);
}

/* NAVBAR */
.navbar {
    width: 100%;
    overflow: hidden;
    
    background-color: white;
    filter: drop-shadow(0px 0px 3px rgb(228, 228, 228));

    transition: height 0.2s;
    transition-timing-function: ease;

    position: absolute;
    z-index: 1;
}

.nav-content {    
    display: flex;
    height: 100%;
    width: 100%;
}

.nav-img {
    width: 30px;
    height: auto;
}

@media (max-width: 549px) {
    .nav-buffer {
        height: 50px;
        width: 100%;
        opacity: 0;
        position: static;
    }
    
    .navbar-closed {
        height: 50px;
    }

    .navbar-open {
        height: 180px;
    }
    
    .nav-content {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-content div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        
        height: 40px;
        width: 100%;
    }

    .nav-content a {
        padding: 10px;
    }

    #hamburger {
        display: flex;
        justify-content: flex-end;
        height: 50px;
    };
}

@media (min-width: 550px) {
    .navbar {
        height: 75px;
        margin-bottom: 75px;
    }

    .nav-buffer {
        height: 75px;
        width: 100%;
        opacity: 0;
        position: static;
    }
    
    .nav-content {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        
        height: 75px;
    }

    .nav-content div {
        padding: 10px 20px;
    }

    #hamburger {
        display: none;
    };
}

/* BUTTON */
.button-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 25px;
}

.custom-button {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 8px 40px;
    border-radius: 5px;;

    cursor: pointer;
}

/* Outlined + Orange Fill */
.custom-button.type1 {
    background-color: #E7AD00;
    color: #FFF7DD;
}

.custom-button.type1:hover {
    background-color: #d09c00;
    color: #FFF7DD;
}

/* No Outline + No Fill*/
.custom-button.type2 {
    background-color: white;
    color: #383838;
}

.custom-button.type2:hover {
    background-color: white;
    color: black;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* MISC */
a {
    text-decoration: none;
}

#html {
    visibility: hidden;
}