.map-container {
    position: relative;
    margin-top: 150px; /* DEV - remove later */
}

.map-img {
    position: relative;
    z-index: 0;
}

/* Overlay grid */
.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    direction: row;
}

/* Grid elements */
.map-overlay div {
    position: relative;
    overflow: visible;
    
    width: 25%;
    aspect-ratio: 1/1;
    
    border: 1px;
    border-style: solid;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Grid element -> image */
.map-overlay img {
    width: 80%;;
    max-width: 150px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    
    background-color: #FFF7DD;
    border-width: 3px;
    border-style: solid;
    border-color: #E7AD00;
}

/* Grid element -> pop up text */
.map-overlay span {
    position: absolute;
    
    height: fit-content;
    max-height: 90%;
    
    padding: 5px 10px;
    
    opacity: 1;
    background-color: #FFF7DD;
    border-width: 3px;
    border-style: solid;
    border-color: #E7AD00;
    border-radius: 10px;
    box-sizing: border-box;
}

@media (max-width: 549px) {
    .map-overlay span {
        width: 200%;
    }

    .map-overlay span.left-orient {
        left: -200%;
    }
}

@media (min-width: 550px) {
    .map-overlay span {
        width: 150%;
    }

    .map-overlay span.left-orient {
        left: -150%;
    }
}

.map-overlay span.right-orient {
    left: 100%; 
}

.map-overlay span.disabled {
    opacity: 0;
}

.map-overlay .font-inter3 {
    line-height: clamp(15px, 3vw, 25px);
    font-size: clamp(11px, 2vw, 16px);
}