{% extends "page1.html" %}

{% block title2 %}About Us{% endblock %}
{% block styles2 %}<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">{% endblock %}

{% block content2 %}
<div class="container">
    <div class="row">
        <div class="six columns">
            <div class="font-domine4">Meet the team</div>
            <div class="font-inter3">We're student researchers and designers from the Proactive Health Informatics lab at Indiana University. We're passionate about using technology to empower people's management and understanding of their health.</div>
            <a href="https://prohealth.luddy.indiana.edu" target="_blank" rel="noopener noreferrer" class="custom-button type1 font-inter4">Our Lab</a>
        </div>
    </div>
</div>
{% endblock %}
{% block content3 %}
<div class="container">
    <div class="row">
        <div class="eight columns">
            <div class="font-domine3">Our members</div>
        </div>
        <div class="four columns">
            <a href='mailto:clefevr@iu.edu' class="custom-button type2 font-inter4">Contact Us</a>
        </div>
    </div>
    <div class="row">
        <div class="member-flex">
            {% for member in team_info %}
            <div class="member">
                <img src="{{url_for('static', filename='images/team/'+member[0]+'.png')}}" alt="headshot style photo of {{member[1]}}">
                <div class="member-text">
                    <div class="font-domine2">{{member[1]}}</div>
                    <div class="font-domine1">Student, {{member[2]}}</div>
                    <div class="font-inter2">{{member[3]}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
