{% extends "page1.html" %}

{% block title2 %}About Us{% endblock %}
{% block styles2 %}<link rel="stylesheet" href="{{url_for('static', filename='css/explore.css')}}">{% endblock %}

{% block content2 %}
<div class="container">
    <div class="row">
        <div class="seven columns">
            <div class="font-domine4">Meet the activists</div>
            <div class="font-inter3">Blah blah blah.</div>
        </div>
    </div>
</div>
{% endblock %}
{% block content3 %}
<div class="container">
    <div class="row">
        
    </div>
</div>
{% endblock %}
