{% extends "page1.html" %}

{% block title2 %}Activism Styles{% endblock %}
{% block styles2 %}<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">{% endblock %}

{% block content2 %}
<div class="container">
    <div class="row">
        <div class="seven columns">
            <div class="font-domine4">Discover your abortion activism style!</div>
            <div class="font-inter3">
                Want to support reproductive rights in your local Bloomington community? Answer twelve questions and find out what style of abortion activism matches you.
            </div>
            <a class="custom-button type1 font-inter4" href="{{url_for('quiz')}}">Take the quiz!</a>
        </div>
    </div>
    <div class="row">
        <div class="eight columns offset-by-four">
            <img src="{{url_for('static', filename='images/styles/all.png')}}" class="u-full-width" alt="five vector art characters side-by-side">
        </div>
    </div>
</div>
{% endblock %}
{% block content3 %}
<div class="container">
    <div class="row" id="activist-header">
        <div class="eight columns">
            <div class="font-domine3">Choose your path</div>
        </div>
        <div class="four columns">
            <a class="custom-button type2 font-inter4" href="{{url_for('explore')}}">Explore styles</a>
        </div>
    </div>
    <div class="row" id='explore-body'>
        <div class="six columns font-inter3">
            <div>Prefer to not take the quiz? Explore the five activism styles on your own and discover which style feels right for you!</div>
            <div style="margin-top: 10px;">Within each of the 5 activist styles are curated recommendations for getting involved as Bloomington abortion activist, based on the real, anonymized stories of other Bloomington activists.</div>
        </div>
        <div class="five columns offset-by-one">
            <img class="explore-pic u-full-width" src="{{url_for('static', filename='images/styles/explore.png')}}" alt="unknown person surrounded by five vector art characters">
        </div>
    </div>
</div>
{% endblock %}
