{% extends "page1.html" %}

{% block title2 %}Advocacy Styles{% endblock %}
{% block styles2 %}<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">{% endblock %}

{% block content2 %}
<div class="container">
    <div class="row">
        <div class="seven columns">
            <div class="font-domine4">Find out what your advocacy style is!</div>
            <div class="font-inter3">
                Answer a few questions and find out what your advocacy style is! Learn about how you can contribute more and connect with other advocates better!
            </div>
            <a class="custom-button type1 font-inter4" href="{{url_for('quiz')}}">Take the quiz!</a>
        </div>
    </div>
    <div class="row">
        <div class="eight columns offset-by-four">
            <img src="{{url_for('static', filename='images/styles/all.png')}}" class="u-full-width">
        </div>
    </div>
</div>
{% endblock %}
{% block content3 %}
<div class="container">
    <div class="row" id="activist-header">
        <div class="eight columns">
            <div class="font-domine3">Meet the activists</div>
        </div>
        <div class="four columns">
            <a class="custom-button type2 font-inter4" href="{{url_for('style')}}">Explore styles</a>
        </div>
    </div>
    <div class="row" id="activist-desc">
        <div class="flexbox-container">
            {% for style in style_blurbs %}
            <div class="flexbox-activist">
                <a href="{{url_for('styles', styleName=style[0])}}">    
                    <img class="activist-pic" src="{{url_for('static', filename='images/styles/' + style[0] + '.png')}}">
                </a>
                <div class="flexbox-info">
                    <div class="font-domine2">The {{style[1]}}</div>
                    <div class="font-inter3">{{style[2]}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="seven columns">
            <div class="font-domine3">Explore the community</div>
            <div class="font-inter3">Use the community map to learn more about how each advocacy style contributes in the community. Read their stories and get inspired!</div>
        </div>
    </div>
    <div class="row">
        <img src="{{url_for('static', filename='images/map_preview.png')}}" class="u-full-width" style="margin-top: 25px; margin-bottom: 50px;">
    </div>
</div>
{% endblock %}
