<script>
    $(document).ready(function() {
        $('#hamburger').click(function() {
            var navbar = $('.navbar')
            if (navbar.hasClass('open')) {
                $('.navbar').addClass('closed');
                $('.navbar').removeClass('open');
                $('#hamburger').attr('src', '{{url_for('static', filename='images/icons/ham_open.png')}}');                
            }
            else if (navbar.hasClass('closed')) {
                $('.navbar').addClass('open');
                $('.navbar').removeClass('closed');
                $('#hamburger').attr('src', '{{url_for('static', filename='images/icons/ham_close.png')}}');
            };
        });          
    });
</script>
<div class="navbar-container">
    <div class="container">
        <div class="navbar closed">
            <div class="images">
                <a href="{{url_for('index')}}"><img id="logo" src="{{url_for('static', filename='images/favicon/logo.ico')}}"></a>
                <img id="hamburger" src="{{url_for('static', filename='images/icons/ham_open.png')}}">
            </div> 
            <div class="links">
                <a href="{{url_for('quiz')}}"><span class="font-domine1">Take Quiz</span></a>
                <a href="{{url_for('exploreStyles')}}"><span class="font-domine1">Explore Styles</span></a>
                <a href="{{url_for('privacy')}}"><span class="font-domine1">Your Privacy</span></a>
                <a href="{{url_for('about')}}"><span class="font-domine1">About Us</span></a>
            </div>
        </div>
    </div>
</div>

<div class="nav-buffer"></div>