<script>
    $(document).ready(function() {
        $('#hamburger').click(function() {
            var navHeight = $('#navbar').css('height');
            if (navHeight == '50px') {
                $('#navbar').addClass('navbar-open');
                $('#navbar').removeClass('navbar-closed');
                $('.nav-img').attr('src', '{{url_for('static', filename='images/icons/ham_close.png')}}');
            }
            else if (navHeight == '180px') {
                $('#navbar').addClass('navbar-closed');
                $('#navbar').removeClass('navbar-open');
                $('.nav-img').attr('src', '{{url_for('static', filename='images/icons/ham_open.png')}}');
            };
        });          
    });
</script>

<div class="navbar navbar-closed" id="navbar">
    <div class="container nav-content">
        <div id="hamburger">
            <img class="nav-img" src="{{url_for('static', filename='images/icons/ham_open.png')}}">
        </div>
        <div>
            <a href="#"><span class="font-domine1">Take Quiz</span></a>
        </div>
        <div>
            <a href="#"><span class="font-domine1">Explore Styles</span></a>
        </div>
        <div>
            <a href="#"><span class="font-domine1">Data Privacy</span></a>
        </div>
    </div>
</div>

<div class="nav-buffer"></div>