{% extends "base.html" %}

{% block title %}Navbar2{% endblock %}
{% block styles %}<link rel="stylesheet" href="../static/css/navbar2.css">{% endblock %}

{% block content %}
<script>
    $(document).ready(function() {
        $('#hamburger').click(function() {
            var navHeight = $('#navbar').css('height');
            if (navHeight == '75px') {
                $('#navbar').css('height', '300px');
            }
            else if (navHeight == '300px') {
                $('#navbar').css('height', '75px');
            };
        });          
    });
</script>

<div class="navbar" id="navbar">
    <div class="nav-content">
        <div id="hamburger">ham</div>
        <div class="text">text3</div>
        <div class="text">text2</div>
        <div class="text">text1</div>
    </div>
</div>
{% endblock %}