{% extends "base.html" %}

{% block title %}Navbar2{% endblock %}
{% block styles %}<link rel="stylesheet" href="../static/css/navbar2.css">{% endblock %}

{% block content %}
<script>
    $(document).ready(function() {
        $('#hamburger').click(function() {
            var navHeight = $('#navbar').css('height');
            if (navHeight == '50px') {
                $('#navbar').css('height', '180px');
                $('.nav-img').attr('src', 'static/images/icons/ham_close.png');
            }
            else if (navHeight == '180px') {
                $('#navbar').css('height', '50px');
                $('.nav-img').attr('src', 'static/images/icons/ham_open.png');
            };
        });          
    });
</script>

<div class="navbar" id="navbar">
    <div class="nav-content">
        <div id="hamburger">
            <img class="nav-img" src="static/images/icons/ham_open.png">
        </div>
        <div>
            <a href="#"><span class="font-domine1">Take Quiz</span></a>
        </div>
        <div>
            <a href="#"><span class="font-domine1">Explore Styles</span></a>
        </div>
        <div>
            <a href="#"><span class="font-domine1">Data Privacy</span></a>
        </div>
    </div>
</div>
{% endblock %}