<div class="quiz-instr-container">
    <div class="container">
        <div class="row">
            <div class="ten columns offset-by-one">
                <div class="font-domine3">Advocacy Style Quiz</div>
            </div>
            <div class="ten columns offset-by-one">
                <div class="font-inter3">Answer a few questions and find out what your advocacy style is! Learn about how you can contribute more and connect with other advocates better!</div>
            </div>
        </div>
    </div>
</div>
<div class="quiz-progress-container">
    <div class="quiz-progress-bar-body" id="prog-bar-body"></div>
    <div class="quiz-progress-bar-end" id="prog-bar-end"></div>
</div>
<script>
    $(function() {
        var fileName = (location.pathname.split('/').slice(-1)[0]).split('.')[0];
        var qNum = fileName.split('q')[1];

        $("#prog-bar-body").css("width", (qNum*100/12) + "%");
        $("#prog-bar-end").css("left", (qNum*100/12) + "%");
    });
</script>