{% extends "page1.html" %}

{% block title2 %}The {{style_title}}{% endblock %}
{% block styles2 %}<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">{% endblock %}

{% block content2 %}

<div class="container">
    <div class="row flex-info">
            <img id="img1" src="{{style_img}}">
            <div id="info-box">
                <div class="flex-info-mobile">
                    <img id="img2" src="{{style_img}}">
                    <div id="info2">    
                        <div class="font-inter2">{{style_intro}}:</div>
                        <div class="font-domine3">The {{style_title}}</div>
                    </div>
                </div>
                <div class="flex-adj">{% for adj in style_adj %}<span class="font-inter2">{{adj}}</span>{% endfor %}</div>
                <div class="font-inter3">{{style_desc}}</div>
                <a class="custom-button type1 font-inter4" href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block content3 %}
<script>
    $(document).ready(function() {
        $('.map-img').click(function() {           
            var desc = $(this).next();
            if (desc.hasClass('disabled')) {
                desc.removeClass('disabled');
            }
            else {
                desc.addClass('disabled');
            };
        });          
    });
</script>
<div class="container">
    <div class="row">
        <div class="six columns">
            <div class="font-domine3">Community {{style_title}}s</div>
        </div>
        <div class="five columns offset-by-one">
            <div class="font-inter3">Use the community map to learn more about how other {{style_title}}s contribute to the Bloomington community. Read their stories by clicking their icons!</div>
        </div>
    </div>
    <div class="row map-container">
        <img class="u-full-width" src="{{url_for('static', filename='images/map-4x3.png')}}">
        <div class="map-overlay">
            {% for i in range(1, 13) %}
            <div>
                {% for style in style_pos %}
                    {% if i == style[0] %}
                <img class="map-img" src="{{style_img}}">
                <span class="{{style[1]}}-orient disabled font-inter3">{{style_descs.pop(0)}}</span>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}