{% extends "base.html" %}

{% block title %}Test{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{url_for('static', filename='css/test.css')}}">{% endblock %}

{% block content %}
<script>
    $(document).ready(function() {
        $('.map-img').click(function() {           
            var desc = $(this).next();
            if (desc.hasClass('disabled')) {
                desc.removeClass('disabled');
            }
            else {
                desc.addClass('disabled');
            };
        });          
    });
</script>

<div class="container">
    <div class="row map-container">
        <img class="u-full-width" src="{{url_for('static', filename='images/map-4x3.png')}}">
        <div class="map-overlay">
            {% for i in range(1, 13) %}
            <div>
                {% for style in style_pos %}
                    {% if i == style[0] %}
                <img class="map-img" src="{{style_src}}">
                <span class="{{style[1]}}-orient disabled font-inter3">{{style_descs.pop(0)}}</span>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}